* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
}

.parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(71, 61, 61);

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), 
    url('/resources/background2.jpg');
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
} 

.sub-container {
  width: 420px;
  height: auto;
  border-radius: 18px;
  box-shadow:  0 0 8px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 50px;
}

#gif {
  height: 240px;
  border-radius: 20px;
}

#image1Container {
  text-align: center;
  margin-bottom: 40px;
}

#question {
  font-size: 26px;
  font-weight: bold;
  color: rgb(176, 156, 156);
  text-align: center;
  margin-bottom: 22px;
}

#subText {
  color: grey;
  text-align: center;
  margin-bottom: 30px;
}

.btn-container {
  text-align: center;
  gap: 18px;
}

button {
  font-size: 16px;
  font-weight: bold;
  padding: 12px 34px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#yesBtn {
  color: white;
  background-color: rgb(222, 102, 102);
  margin-right: 10px;
  transition: 0.3s ease;
}

#yesBtn:hover {
  background-color: rgb(226, 59, 59); 
  transform: scale(1.1);
}

#noBtn {
  color: white;
  background-color: rgb(129, 106, 106);
  transition: 0.3s ease;
}

#phone-input-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#phone-input {
  
  /*height: 40px;*/
  width: 200px;
  font-size: 16px;
  color: grey;
  padding: 15px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 8px;
}

#phone-input:focus {
  outline: none;
}

#sendBtn {
  color: white;
  background-color: rgb(222, 102, 102);
  padding: 12px 28px;
  margin-left: 8px;
  transition: background-color 0.3s ease;
}

#sendBtn:hover {
  background-color: rgb(218, 65, 65);
}
